body {
    background-color: #121212;
    color: #e0e0e0;
}

header {
    background-image: url('path/to/space-background.jpg');
    background-size: cover;
    color: #ffffff;
    padding-top: 5em;
    padding-bottom: 2em;
}

.lab-carousel {
    overflow: hidden;
}

.carousel-item img {
    max-height: 500px;
    object-fit: contain;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

.lab-carousel-container {
    background-color: #1c1c3c;
}

#autores img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

